@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  .inner {
    border: 1px solid red;
    width: 1140px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section1 {
    display: flex;
    border: 1px solid red;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
    .title {
      font-weight: bold;
      color: #212529;
      line-height: 32px;
      font-size: 24px;
      padding: 20px;
    }
  }
  .section2 {
    display: flex;
    width: 100%;
    border: 1px solid red;
    height: 70%;
  }
  .section2-right {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .product {
      border: 1px solid rgb(105, 39, 39);
      width: 100%;
      display: flex;
      flex-direction: column;
      .img-product {
        width: 100px;
        height: 100px;
        .img {
          width: 100px;
          height: 100px;
        }
      }
      .text {
        font-weight: 500;
      }
    }
  }
  .section2-left {
    border: 1px solid black;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .infor-product {
      border: 1px solid rgb(105, 39, 39);
      width: 80%;
      height: 220px;
      margin-top: 2rem;
      .infor-title {
        font-family: Poppins;
        height: 30%;
        font-weight: bold;
        color: #212529;
        line-height: 32px;
        font-size: 24px;
      }
      .total {
        font-family: Poppins;
        display: flex;
        width: 100%;
        height: 30%;
        .total-text {
          display: flex;
          justify-content: start;
          width: 50%;
          font-weight: bold;
          color: #212529;
          line-height: 32px;
          font-size: 24px;
        }
        .total-price {
          display: flex;
          justify-content: end;
          width: 50%;
          font-family: Poppins;
          font-weight: bold;
          color: #212529;
          line-height: 32px;
          font-size: 24px;
        }
      }

      .total-button {
        height: 40%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          width: 80%;
          height: 60%;
          background-color: red;
          color: white;
          font-size: 2.8rem;
          border-radius: 10px;
          &:hover {
            background-color: rgb(255, 255, 255);
            border: 1px solid red;
            background-position: 100% 0%;
            color: black;
            transition: color 3s;
          }
        }
      }
    }
  }
  .section3 {
    border: 1px solid black;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .section3-form {
      .form {
        width: 300px;
        height: 80px;
      }
    }
    .section3-policy {
      border: 1px solid red;
      .text-p {
        margin-left: 10px;
        font-family: Poppins;
      }
    }
  }
}
