@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.inner {
    display: flex;
    height: 600px;
    font-size: 18px;
    font-family: "Poppins", "Helvetica Neue";
    background-image: url("https://360.com.vn/wp-content/uploads/2022/10/back-thanh-toann-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw !important;
    z-index: 1;
    font-size: 2rem;
    font-family: "Poppins", "Helvetica Neue";
}
.left {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}
.right {
    width: 50vw;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-left: 1px solid #ededed;
}
.form {
    width: 80%;
}
.frist-name {
    text-decoration: none;
    width: 70%;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding-left: 20px;
    border: 1px solid rgb(151, 151, 151);
}
.Last-name {
    text-decoration: none;
    width: 70%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
    border-radius: 15px;
    border: 1px solid rgb(151, 151, 151);
}
.email {
    text-decoration: none;
    width: 70%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
    border-radius: 15px;
    border: 1px solid rgb(151, 151, 151);
}
.Birthday {
    text-decoration: none;
    width: 70%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
    border-radius: 15px;
    border: 1px solid rgb(151, 151, 151);
}
.password {
    text-decoration: none;
    width: 70%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
    border-radius: 15px;
    border: 1px solid rgb(151, 151, 151);
}
.btn-login {
    width: 120px;
    height: 50px;
    background-color: rgb(9, 42, 255);
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: rgb(255, 132, 0);
    }
}
.message {
    color: white;
}
