@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
