@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
    z-index: 2;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}
.inner {
    height: 100%;
    width: 1440px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}
.title {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 600;
}
.text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
    margin-bottom: 20px;
}
.media-icon {
    display: flex;
    .icon-instagram {
        margin-right: 40px;
        color: rgb(160, 72, 79);
    }
    .icon-facebook {
        color: rgb(0, 68, 255);
        margin-right: 40px;
    }
    .icon {
        color: rgb(255, 0, 0);
        margin-right: 40px;
    }
}
.cl01 {
    margin-left: 30px;
}
