@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 10px 0px #e6e9fd;
}
.section01 {
    height: 680px;
}
.background {
    width: 100%;
    height: 680px;
    background-image: url("https://file.hstatic.net/200000201725/collection/z3359269022139_a0d30753816d3ee269bd3af66ff21e6b_6ff2b3f2efc2485e95c1fa33fa069d2a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    z-index: 2;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: #252a2b;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
}
.section02 {
    border: 1px solid red;
    width: 90vw;
    display: flex;
    justify-content: center;
}
.production {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    .product {
        width: 275px;
        height: 370px;
        border: 1px solid red;
        .img-product {
            border: 1px solid red;
            .img {
                width: 100%;
                height: 100%;
            }
        }
        .text-product {
            .title-product {
                margin-bottom: 5px;
            }
        }
    }
}
