@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 10px 0px #e6e9fd;
}

.section01 {
    height: 700px;
    .background {
        width: 100%;
        height: 700px;
        background-image: url("https://360.com.vn/wp-content/uploads/2023/04/1350x490-Copy-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 0;
        z-index: 2;
    }
}

.product-catalog {
    width: 100vw;
    height: 500px;
    background-color: rgb(239, 239, 239);
}
.title {
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: #252a2b;
    font-weight: 500;
    margin-top: 30px;
}
.product-list {
    display: flex;
    justify-content: center;
    .list-product {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 30px;
        .product-box01 {
            display: flex;
            justify-content: center;
        }
    }
    .product-box01 {
        background-color: rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
        transition: border-color 0.5s ease-in-out;
        display: flex;
        margin-bottom: 25px;
        margin-top: 50px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            border-bottom: 3px solid rgb(242, 0, 0);
            background-position: 100% 0;
            .text-box01 {
                position: 100% 0;
                color: rgb(255, 0, 0);
            }
        }
        .text-product-box01 {
            align-items: flex-end;
            display: flex;
            .text-box01 {
                font-size: 28px;
                color: #6d6d6d;
                transition: color 0.3s ease-in-out;
            }
        }
        .img-product {
            margin-left: 40px;
            width: 97px;
            height: 97px;
        }
    }
}
.list-sanpham {
    display: flex;
    justify-content: center;
    .production {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        grid-template-rows: repeat(2, 0.5fr);
        grid-gap: 30px;
    }
    .product {
        width: 275px;
        height: 370px;
        border: 1px solid rgb(235, 235, 235);
        .img-product {
            border-bottom: 1px solid #d5d5d5;
            .img {
                width: 100%;
                height: 100%;
            }
        }
        .text-product {
            margin-left: 20px;
            .title-product {
                margin-bottom: 5px;
            }
        }
    }
}
.section03 {
    border: 1px solid red;
    width: 90vw;
    display: flex;
    justify-content: center;
    .production {
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
        .product {
            width: 275px;
            height: 370px;
            border: 1px solid red;
            .img-product {
                border: 1px solid red;
                .img {
                    width: 206px;
                    height: 206px;
                }
            }
            .text-product {
                .title-product {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.section04 {
    display: flex;
    justify-content: center;
    .section04-box {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        width: 80vw;

        .box {
            width: 30%;
            border: 1px solid #e6e9fd;
            border-radius: 15px;
        }
        .box01 {
            margin-top: 30px;
            cursor: pointer;
            .img-box01 {
                justify-content: center;
                display: flex;
                margin-bottom: 10px;
                .img {
                    width: 35px;
                    height: 35px;
                }
            }
            .text-box01 {
                justify-content: center;
                display: flex;
                &:hover {
                    color: coral;
                }
            }
        }
    }
}
