@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  width: 1440px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  .right-text {
    width: 90%;
    .right01 {
      margin-bottom: 20px;
    }
  }
  .title {
    margin-top: 40px;
    font-size: 3rem;
    font-weight: 600;
  }
  .start {
    color: #e1b619;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .color {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    .text-color {
      margin-right: 30px;
      font-size: 2rem;
      font-weight: 500;
    }
  }
  .color-img {
    display: flex;
  }
  .img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      border: 1px solid black;
    }
  }
  .image {
    width: 30px;
    height: 30px;
    &:hover {
      border: 1px solid black;
    }
  }
  .size {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .text-color {
    margin-right: 20px;
    font-size: 2rem;
    font-weight: 400;
  }
  .count {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    background-color: transparent;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-right: 10px;
    font-size: 2rem;
    font-weight: 500;
  }
  .btn-count {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  .btn-end {
    margin-top: 40px;
  }
  .cart {
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 30px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.5s ease-in-out;
    .cart {
      text-decoration: none;
      color: none;
    }
    &:hover {
      border-bottom: 3px solid rgb(242, 0, 0);
      background-position: 100% 0;
      position: 100% 0;
      color: rgb(255, 0, 0);
    }
  }
  .btn-buy {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    transition: border-color 0.5s ease-in-out;
    &:hover {
      border-bottom: 3px solid rgb(242, 0, 0);
      background-position: 100% 0;
      position: 100% 0;
      color: rgb(255, 0, 0);
    }
  }
  .primary {
    margin-top: 40px;
    width: 452px;
    height: 170px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 10px;
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .content {
      .line-content {
        display: flex;
        margin-bottom: 20px;
      }
      width: 90%;
      .img-primary {
        width: 30px;
        height: 25px;
        margin-right: 25px;
      }
      .img-content {
        width: 30px;
        height: 25px;
      }
    }
  }
}
.user-review {
  width: 1440px;
  height: 300px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  .img-user {
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
  }
  .img-user-review {
    width: 50px;
    height: 50px;
    // border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
  }
  .name-user-review {
    margin-left: 20px;
    align-items: center;
    display: flex;
  }
  .cmt-review {
    display: flex;
    margin-left: 20px;
    height: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  .cmt-text {
    height: 60px;
    width: 90%;
    display: flex;
    .comment {
      font-size: 1.8rem;
      font-weight: 400;
    }
    .start {
      color: #ffc800;
    }
  }
}
